body {
    background: #dbdbdb; margin: 0; font-size: 16px; font-family: 'Arial';
}
header{
    text-align:center;
    font-weight: bolder;
    background: white; padding: 20px;
}
header h1{
    font-weight: bolder;
    margin: 0;
}
div.post{
    background: white;
    margin-top: 60px;
}
div.post h2{
    padding: 15px;
    font-size: 18px;
    font-weight: bold;
    margin: 0;
}
div.post p{
    padding: 20px;
    margin: 0;
}
div.container{
    width: 600px; margin: auto;
}
div.post .postheader div:first-child{
    display: inline-block;
    width: 80%;
}
div.post .postheader div:last-child{
    font-size: 18px;
    display: inline-block;
    width: 15%;
    padding: 10px;
    color: gray;
    text-align: right;
}